/**
 * ----------------------------------------------------------------------------------------
 * Variables styles.
 * ----------------------------------------------------------------------------------------
 */

/* Primary Colors */
$primary: #000;
$secondary: #333333;
$third: #888888;
$opac-primary: #97a0a8;
$opac-sec: rgba(48, 38, 30,0.7);

$button-color: #FF8300;
