/*------------------------------------*\
    FOOTER
\*------------------------------------*/

footer {
  clear: both;
  height: 50px;
  background: $primary;

  p{
    color:#fff;
    padding: 15px 0px 0px 0px;
    margin:0;
  }

  a{
    color:#fff;
  }
}